.providerLogo {
  height: 40px;
  width: 40px;
  margin: 16px;
  display: inline-block;
  cursor: pointer;
}

.providerSpan {
  box-sizing: content-box;
  border: 4px solid black;
  border-radius: 30px;
  width: 36px;
  height: 36px;
  margin: 16px;
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
